{#

  Renderiza uma lista de grupos com sua imagem e nome
  em formato grid.
  
#}

<div class="groups-list">
  <span>
    O <strong>Portal de Dados Abertos do TRE-RN</strong> encontra-se alinhado ao crescente movimento de democratização do acesso a dados e informações, disponibilizando, de forma transparente,  dados que podem ser livremente acessados, utilizados, modificados e compartilhados por qualquer pessoa interessada no desenvolvimento de soluções voltadas à melhoria de serviços prestados à sociedade.
  </span>
  <div class="groups">
    {% for group in groups %}
      <a href="{{ h.url_for('group_read', id=group.name) }}" class="group">
        <img src="{{ group.image_display_url }}" alt="{{ group.display_name }}">
        <strong>{{ group.display_name }}</strong>
      </a>
    {% endfor %}
  </div>
</div>