<footer class="site-footer">
  <div class="t-footer">
    <div class="container t-content">
      <div class="l-content">
        <div class="footer-col">
          <span class="footer-logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 7V4a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h8zm-6 9v2h5v-2H5zm9 0v2h5v-2h-5zm0-3v2h5v-2h-5zm0-3v2h5v-2h-5zm-9 3v2h5v-2H5z" fill="rgba(255,255,255,1)"/></svg>              
            Dados TRE-RN
          </span>
          <p>Portal de dados abertos do Tribunal Regional Eleitoral do Rio Grande do Norte.</p>
          <div class="socials">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="r-content">
        <div class="footer-col">
          <h3>Política</h3>
          <ul>
            <ul>
              <li>
                <a href="">Política de dados abertos</a>
              </li>
              <li>
                <a href="">Dados e privacidade</a>
              </li>
            <li>
              <a href="" class="primary">Sobre</a>
            </li>
            <li>
              <a href="">Contato</a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <h3>Dados</h3>
          <ul>
            <li>
              <a href="" class="primary">Organizações</a>
            </li>
            <li>
              <a href="">Conjuntos de dados</a>
            </li>
            <li>
              <a href="">Grupos</a>
            </li>
            <li>
              <a href="">Etiquetas</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="b-footer">
    <div class="container b-content">
      <div class="contacts">
        <p><i class="fas fa-phone"></i>(84) 3654-5190</p>
        <p><i class="fas fa-envelope"></i>ouvidoria@tre-rn.jus.br</p>
      </div>
      <div class="link-ckan">Desenvolvido a partir do <a target="_blank" href="https://ckan.org/">CKAN</a></div>
    </div>
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>