* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray-300: #c0c0c0;
  --black-800: #020101;
  --blue-300: #ECF9FF;
  --blue-800: #060640;
  --blue-900: #040425;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body, .main, [role=main] {
  background: #f6f6f6;
}

body, .main, [role=main], .masthead, .site-footer {
  background-image: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* FOOTER */
.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.site-footer {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.t-footer {
  background: var(--blue-800);
  padding: 5rem 0 3rem;
}

.b-footer {
  background: var(--blue-900);
}

.t-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer::before,
.site-footer::after,
.container.t-content::before,
.container.t-content::after,
.container.b-content::before,
.container.b-content::after {
  display: none;
}

.t-content .r-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-col {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.footer-col .logo {
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.footer-col h3 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer-col p {
  font-weight: 300;
  color: var(--gray-300);
  max-width: 350px;
}

.footer-col ul li + li {
  margin-top: .5rem;
}

.footer-col ul li a {
	font-size: 16px;
  font-weight: 400;
	text-decoration: none;
	color: var(--gray-300);
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: var(--white);
}

.footer-col strong {
  font-weight: 500;
}

.footer-col .socials {
  margin-top: 1rem;
}

.footer-col .socials a {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	background-color: rgba(255,255,255,0.2);
	color: var(--white);
  text-align: center;
	line-height: 2rem;
  border-radius: 2px;
	transition: all 0.5s ease;
}

.footer-col .socials a + a {
  margin-left: 0.5rem;
}

.footer-col .socials a:hover {
	color: var(--blue-800);
	background-color: #ffffff;
}

.b-content {
  display: flex;
  justify-content: space-between;
  padding-top:.5rem;
  padding-bottom: 0.5rem;
  color: var(--white);
}

.b-content .contacts {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.b-content .contacts p {
  margin: 0;
}

.b-content .contacts i {
  margin-right: .5rem;
}

.b-content .link-ckan a {
  color: var(--white);
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .t-content {
    flex-direction: column;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .t-content {
    align-items: flex-start;
  }

  .t-content .r-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .b-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .b-content .contacts {
    flex-direction: column;
    align-items: flex-start;
  }
}