* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray-300: #c0c0c0;
  --gray-500: #4d4d4d;
  --black-800: #020101;
  --blue-300: #ECF9FF;
  --blue-500: #29abe2;
  --blue-800: #060640;
  --blue-900: #040425;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body, .main, [role=main], .masthead, .site-footer {
  background-image: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* HEADER */
header {
  width: 100%;
  background: var(--white);
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* NAV */
.trern_theme-nav {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trern_theme-nav::after,
.trern_theme-nav::before {
  display: none;
}

.trern_theme-nav-close,
.trern_theme-.nav-toggle {
  color: var(--black-800);
}

.trern_theme-nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trern_theme-nav-logo img {
  height: 3rem;
}

.trern_theme-nav-toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .trern_theme-nav-menu {
    position: fixed;
    background-color: var(--white);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(152, 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: 100;
  }
}

.trern_theme-nav-close {
  font-size: 1.25rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.trern_theme-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  /* Retirar margin-bottom dos styles do CKAN */
  margin-bottom: 0;
}

.trern_theme-nav-link,
.trern_theme-nav-item > a {
  color: var(--gray-500);
  font-weight: 500;
  transition: 0.3s;
  position: relative;

  /* Retirar estilização padrão do CKAN */
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
}

.trern_theme-nav-link:hover {
  color: var(--blue-500);
}

.trern_theme-nav-link::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--blue-500);
  transition: 0.3s ease-in-out;
}

.trern_theme-nav-link:hover::after {
  width: 50%;
}

.show-menu {
  right: 0;
}

@media screen and (min-width: 768px) {
  .trern_theme-nav {
    height: 5rem;
    column-gap: 3rem;
  }

  .trern_theme-nav-toggle,
  .trern_theme-nav-close,
  .btns {
    display: none;
  }

  .trern_theme-nav-list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .trern_theme-nav-menu {
    margin-left: auto;
  }
}

@media screen and (max-width: 576px) {
  .trern_theme-nav-logo img {
    height: 2.5rem;
  }
}

@media screen and (max-width: 375px) {
  .trern_theme-nav-logo img {
    height: 2.3rem;
  }
}

/* INPUT SEARCH */
main {
  height: 100%;
  background: var(--blue-300);
  font-size: 1rem;
  padding: 2rem 0;
}

.input-content {
  width: 100%;
  height: 4rem;
  background: var(--white);
  overflow: hidden;
  box-shadow: 0px 4px 0px var(--blue-500);

  display: flex;
  align-items: center;
}

.input-content .input-button {
  padding: 1.25rem;
  padding-right: 1rem;
  background: none;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.input-content .input-button i {
  font-size: 1.125rem;
  color: var(--blue-800);
  cursor: pointer;
}

.input-content .input-button i:hover {
  color: var(--blue-500);
}

.input-content .input-search {
  width: 100%;
  height: 100%;
  padding-bottom: 0.125rem;
  padding-right: .5rem;
  border: 0;
  font-size: 1.125rem;
  color: var(--gray-500);
}

.input-content .input-search:focus {
  outline: 0;
}

.input-content .input-search::placeholder {
  color: var(--gray-300);
}

@media screen and (max-width: 576px) {
  .input-content {
    height: 3rem;
  }

  .input-content .input-icon {
    padding: 1rem;
    padding-right: .75rem;
  }

  .input-content .input-icon i {
    font-size: 1rem;
  }

  .input-content .input-search {
    font-size: 1rem;
  }
}

/* Groups */
.groups-list {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.groups-list span {
  color: var(--gray-500);
  font-size: 1rem;
  line-height: 1.625rem;
}

.groups-list .groups {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
}

.groups-list .groups .group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  padding: 1.75rem;
  background: var(--white);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.groups-list .groups .group:hover {
  transform: translateY(-5px);
}

.groups-list .groups .group img {
  height: 3.5rem;
  width: auto;
}

.groups-list .groups .group strong {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--gray-500);
  transition: all 0.3s;
}

.groups-list .groups .group:hover strong {
  color: var(--blue-500);
}

@media screen and (max-width: 768px) {
  .groups-list .groups {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .groups-list .groups {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 1.5rem;
  }

  .groups-list .groups .group {
    padding: 1.5rem;
    row-gap: 1rem;
  }

  .groups-list .groups .group:hover {
    transform: translateY(-3px);
  }
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 1.5rem;
}

.stats .stats-card {
  padding: 1rem 1rem 0.75rem;
  color: var(--white);
  cursor: pointer;

  background: linear-gradient(to left, var(--blue-500) 50%, var(--blue-800) 50%) right;
  background-size: 200% 100%;
  transition: .3s ease-in-out;

  position: relative;
  display: flex;
  flex-direction: column;
}

.stats .stats-card:last-child {
  background: linear-gradient(to left, var(--blue-800) 50%,  var(--blue-500) 50%) right;
  background-size: 200% 100%;
}

.stats .stats-card:hover {
  background-position: left;
}

.stats .stats-card strong {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.stats .stats-card i {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media screen and (max-width: 576px) {
  .stats {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

/* FOOTER */
.site-footer {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.t-footer {
  background: var(--blue-800);
  padding: 5rem 0 3rem;
}

.b-footer {
  background: var(--blue-900);
}

.t-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer::before,
.site-footer::after,
.container.t-content::before,
.container.t-content::after,
.container.b-content::before,
.container.b-content::after {
  display: none;
}

.t-content .r-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-col {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.footer-col .footer-logo {
  width: 15rem;
  margin-bottom: 1.5rem;
}

.footer-col h3 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer-col p {
  font-weight: 300;
  color: var(--gray-300);
  max-width: 350px;
}

.footer-col ul li + li {
  margin-top: .5rem;
}

.footer-col ul li a {
	font-size: 16px;
  font-weight: 400;
	text-decoration: none;
	color: var(--gray-300);
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: var(--white);
}

.footer-col strong {
  font-weight: 500;
}

.footer-col .socials {
  margin-top: 1rem;
}

.footer-col .socials a {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	background-color: rgba(255,255,255,0.2);
	color: var(--white);
  text-align: center;
	line-height: 2rem;
	transition: all 0.5s ease;
}

.footer-col .socials a + a {
  margin-left: 0.5rem;
}

.footer-col .socials a:hover {
	color: var(--blue-800);
	background-color: #ffffff;
}

.b-content {
  display: flex;
  justify-content: space-between;
  padding-top:.5rem;
  padding-bottom: 0.5rem;
  color: var(--white);
}

.b-content .contacts {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.b-content .contacts p {
  margin: 0;
}

.b-content .contacts i {
  margin-right: .5rem;
}

.b-content .link-ckan a {
  color: var(--white);
  font-weight: bold;
}

.b-content .link-ckan a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .t-content {
    flex-direction: column;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .t-content {
    align-items: flex-start;
  }

  .t-content .r-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .b-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .b-content .contacts {
    flex-direction: column;
    align-items: flex-start;
  }
}